.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* alterado */
    width: 100%;
    height: 60px;
    padding: 0 20px;
}
.header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media (max-width: 767px) {
    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between !important;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }
    .header-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .header-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
#menu-hamburguer {
    display: none;
    flex-direction: column;
    background: #FFFFFF;
    position: absolute;
    top: 100px;

    padding: 20px;
    border-radius: 8px;
    z-index: 10;
}
#menu-hamburguer a {
    color: #2E363D;
    text-decoration: none;
    margin: 10px 0;
    font-size: 18px;
}
#menu-hamburguer a:hover {
    font-weight: bold;
}
#menu-button {
    background: none;
    border: none;
    font-size: 2rem;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 11;
}
@media (min-width: 768px) {
    #menu-hamburguer {
        display: flex !important;
        position: static;
        flex-direction: row;
        background: none;
        padding: 0;
    }
    #menu-hamburguer a {
        color: #ffffff;
        margin: 0 10px;
    }
    #menu-button {
        display: none;
    }
    .header-left {
        justify-content: flex-start;
    }
    .header-right {
        justify-content: flex-end;
    }
}