.containerfooter{
 width: 100vw;
 height: 40px;
 background-color: #002333;
 color: aliceblue;
 display: flex;
 justify-content: center;
 bottom: 0;
 position: fixed;
 width: 100%;
 align-items: center;
 font-family: var(--fonte-principal);
 text-align: center;
}


@media screen and (min-width:720px){
 .container{
  width: 100%;
 }
}