.contato{
 color: var(--verde-turquesa);
}
.containercont{
 width: 250px;
 height: 300px;
}

.titulomod{
display: flex;
}

.containernav{
 padding: 10px;
height: 80px;
background-color: #002333;align-items: center;
display: flex;
justify-content: space-around;
color: var(--branco);
}


.name {
 color: #ffffff;
 text-transform: uppercase;
 margin-bottom: 0;
}
.name span{
 color: #deefe7;
}
ul  li{
 list-style-type: none;}

.cabecalholista a {
 text-decoration: none;

color: var(--branco);
}

@media screen and (min-width: 720px) {
 .container {
   width: 100%;
  
 }
 .cabecalholista {
   display: flex;
   gap:1em ;
   list-style-type: none;
   

 }
 .cabecalholista a {
  text-decoration: none;
  color: var(--branco);
  font-family: var(--fonte-principal);
  
 }

 .name{
  font-size: 28px;
  font-weight: 400;
 }

 .name span{
  font-size: 20px;
  font-weight: 200;
 }
 .containernav{
  display: flex;
  justify-content: space-around;
 
  }
}
