.banner-context{
  display: flex;
  gap: 40px;
  padding-bottom: 20px;
}
.imagem-banner {
  position: relative;
}
.imagem-banner img{
 height: 400px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
}
.imagem-banner::before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 5px;
  width: 100%;
  height: 100%;
  background: var(--color-grey-50);
  border-radius: 8px;
  z-index: 0;
}

@media (max-width: 768px) {
  .banner-context {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
  }

  .imagem-banner img {
    height: 320px;
    width: 100%;
    object-fit: cover;
  }
}